:root {
    --header-color: #ffffff;
    --primary-text-color: #212121;
    --second-text-color: #757575;
    --accent-color: #2196f3;
    --button-color: #f5f4fa;
}
/* Шрифти, контейнер */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background: var (--header-color);
    margin: auto;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: content-box;
    font-weight: 400;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.container-header {
    width: 1200px;
    height: 80px;
}

.page-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navigation {
        display: flex;
        align-items: center;
}

.menu {
    display: flex;
}

.list {
    display: flex;
}

body button:hover,
body button:focus {
    background-color: #188ce8;
    color: var(--accent-color);
    cursor: pointer;
}

.navigation-link:hover,
.navigation-link:focus {
    color: var(--accent-color);
    color: var(--accent-color);
}

/* Логотип сайту в шапці */
/* Сині букви логотипу */
.logo {
    font-family: 'Raleway';
    color: var(--accent-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1, 19;
    letter-spacing: 0.03em;
}

/* Чорні букви логотипу */
.logo-part {
    font-family: 'Raleway';
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1, 19;
    letter-spacing: 0.03em;
}

.footerpart {
    font-family: 'Raleway';
    color: #FFFFFF;
    font-weight: 700;
    font-size: 26px;
    line-height: 1, 19;
    letter-spacing: 0.03em;
}

/* Силки меню */
.navigation-link {
    color: var(--primary-text-color);
}

/* Контакти */
.list {
    list-style: none;
}

/* Емейл */
.mail {
    width: 135px;
    height: 16px;
    color: var(--second-text-color);
    font-size: 14px;
    line-height: 1, 14;
    letter-spacing: 0.02em;
}

/* Телефон */
.phone {
    width: 122px;
    height: 16px;
    text-decoration: none;
    color: var(--second-text-color);
    font-size: 14px;
    line-height: 1, 14;
    letter-spacing: 0.02em;
}

.mail:hover,
.phone:hover,
.mail:focus,
.phone:focus {
    color: var(--accent-color);
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
    display: flex;
}

.hero-description {
    display: flex;
    justify-content: center;
    background-color: #2f303a;
    column-gap: 30px;
}

/* --- section 2 --- */
.section-two {
    padding-top: 94px;
    /* padding-bottom: 94px; */
}

.section-two-list {
    display: flex;
}

.section-two-item {
    width: 270px;
    height: 101px;
}

.section-two-item:not(:last-child) {
    margin-right: 30px;
}

/* Герой */
.hero {
    background: #2F303A;
    padding-top: 200px;
    padding-bottom: 200px;
}

/* Заголовок героя */
.heading {
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* Кнопка героя*/
.button {
    position: absolute;
    width: 216px;
    height: 50px;
    background-color: var(--accent-color);
    cursor: pointer;
    border: 0;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    width: 200px;
    height: 50px;
}

/* Текст кнопки героя*/
.text-button {
    font-size: 16px;
    line-height: 1, 87;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

ul {
    list-style: none;
}

.item-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about {
    font-size: 14px;
    line-height: 1, 71;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}

.caption {
    font-size: 36px;
    line-height: 1, 16;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.job-image-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.team-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.team {
    font-size: 36px;
    line-height: 1, 16;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.team-name {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}


.profession {
    font-size: 16px;
    line-height: 1, 18;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}

.page-footer {
    background: #2F303A;
}

.adress {
    font-size: 14px;
    line-height: 1, 71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    font-style: normal;
}

.message {
    font-size: 14px;
    line-height: 1, 71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
}

.mobile {
    font-size: 14px;
    line-height: 1, 71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
}

.mobile:hover,
.message:hover,
.mobile:focus,
.message:focus {
    color: var(--accent-color);
}

a {
    text-decoration: none;
}

h2 {
    font-size: 36px;
    line-height: 1, 16;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.benefits {
    text-align: center;
}

/* Портфоліо */
.portfolio {
    list-style: none;
}

.button-list {
    display: flex;
}

.portfoio-button {
    color: var(--primary-text-color);
    background-color: var(--button-color);
    width: 112px;
    height: 38px;
    border: 0;
    margin-top: 8px;
}

.portfoio-button:hover,
.portfoio-button:focus {
    color: #FFFFFF;
    background-color: var(--accent-color);
}

.work-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}

.work-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.desc {
    font-size: 16px;
    line-height: 1, 87;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}